---
layout: base
title: about
scripts: [svelte_bundle.js]
styles: [tailwind.css]
---

{% block content %}
  <section>
    <h2>About</h2>
    <a href="/index.html">Homepage</a>

  </section>

{% endblock %}